@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.mobileWrapper {
  display: none;

  @include respond-to("mobile") {
    display: block; 
  }
}

.burgerInner {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.burger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  z-index: 100;
  position: relative;

  .line {
    display: block;
    width: 34px;
    height: 3px;
    background-color:$bg-color-underline;
    border-radius: 4px;
  }
}

.aside {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100dvh;
  z-index: 90;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 140px 50px;
  background: $bg-color-dark;

  touch-action: none; 
  overscroll-behavior: none;

  nav {
    ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
}