@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.section {
  position: relative;
  z-index: 2;
  margin-top: -30px; 
  margin-bottom: -30px;
  padding: 130px 20px;
  border-radius: 30px; 
  background-color:$bg-color-secondary;

  @include respond-to("sm-mobile") {
    padding: 72px 20px; 
  }
}

.title {
  @include title-base(52px);

  margin-bottom: 64px;
  text-align: center;

  @include respond-to("sm-mobile") {
    margin-bottom: 56px;
    font-size: 44px;
    line-height: 1.2;
  }
}

.cardsContainer {
  display: flex;
  justify-content: space-between;

  @include respond-to("desktop") {
    gap: 50px;
  }

  @include respond-to("mobile") {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  @include respond-to("sm-mobile") {
    gap: 56px;
  }
}
