@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 20px;
}

.content {
  background: $bg-color-dark;
  border: 1px solid #333;
  padding: 50px 40px;
  border-radius: 32px;
  max-width: 440px;
  width: 100%;
  text-align: center;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

  .iconWrapper {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 32px;
    color: $color-accent;
    margin-bottom: 16px;
    font-weight: 500;
  }

  .text {
    @include text-base(16px);

    margin-bottom: 32px;
  }
}

.modalBtn {
  width: 100%;
  padding: 16px !important;
}
