@use "./variables" as *;

@mixin title-base($size: 32px) {
  font-family: $font-primary;
  font-size: $size;
  color: $color-primary;
  font-weight: 600;
  line-height: 1.5;
}

@mixin text-base($font-size: 13px, $font-weight: 400) {
  font-family: $font-secondary;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: 1.5;
  color: $color-secondary;
}
