$font-primary: var(--font-poppins), sans-serif;
$font-secondary: var(--font-open-sans), sans-serif; 
$color-primary:#253757;
$color-secondary: #6C788B;
$bg-color-primary:#F2F6FA;
$bg-color-secondary: #FFFFFF;